.by-cart-amount-steps {
  & > div {
    padding: 1rem;
    &:first-child {
      padding-top: 0;
    }
    &:nth-child(even) {
      background: #f7f7f7;
    }
    &:not(:first-child) {
      label {
        padding-top: 0;
      }
    }
  }

  button.remove {
    background: #ec1313;
    border: none;
    color: white;
    font-weight: bold;
    width: 2.4rem;
    height: 2.4rem;
  }
}
